.itemSlot {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.itemSlot option, .itemSlot optgroup {
    color: black
}
.itemSlot::selection, .itemSlot:focus, .itemSlot:active, .itemSlot:hover {
    border: 2px solid var(--outline-color);
}
.head {
    background-image: url('/public/assets/helmEmpty.png');
}
.shoulder {
    background-image: url('/public/assets/shoulderEmpty.png');
}
.cloak {
    background-image: url('/public/assets/sarkaCloak.png');
}
.chest {
    background-image: url('/public/assets/chestEmpty.png');
}
.hands {
    background-image: url('/public/assets/handsEmpty.png');
}
.legs {
    background-image: url('/public/assets/legsEmpty.png');
}