* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
*:focus {
    outline: 2px solid var(--outline-color);
}
.hidden {
    display: none !important;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
ul, p {
    margin: 0;
}
a:hover{
    text-decoration: none;
    color: var(--text-color);
}
button {
    background-color: var(--button-color);
    border: none;
}
:root,
    :root.default {
        --bck-color: #1F202A;
        --bck-img: url('/public/assets/bck_line_pattern_default.png');
        --text-color: #fffffff8;
        --text-color-alt: #000000;
        --shadow-color: rgba(0, 0, 0, 0.8);
        --outline-color: magenta;
    }
    :root.light_mode {
        --bck-color: #e6e6e9da;
        --bck-img: url('/public/assets/bck_line_pattern_light_mode.png');
        --text-color: #000000;
        --text-color-alt: #fffffff8;
        --shadow-color: rgba(0, 0, 0, 0.8);
        --outline-color: rgb(131, 14, 131);
    }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: var(--bck-img);
    background-color: var(--bck-color);
    color: var(--text-color);
}

header {
    padding-inline: 3em;
}

main {
    padding: 2em 4em;
}

h1 {
    font-size: 50px;
    color: goldenrod;
}

#slotSelector {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "left results right"
    "left results right"
    ". center misc";
    width: 350px;
}
#characterGrid_left {
    grid-area: left;
}
#results {
    grid-area: results;
}
#characterGrid_center {
    flex-direction: row;
    grid-area: center;
}
#characterGrid_right {
    grid-area: right;
}
#miscellaneous {
    grid-area: misc;
}

.centerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.bottomGridRow {
    padding-top: 2em;
}

#characterEquipmentSlots {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}


/* --------------------- iPad Version -----------------------*/ 
@media screen and (width >= 725px) {
    h1 {
        font-size: 80px;
    }
    #slotSelector {
        width: 450px;
    }
    .equipmentSlot { /*Defined in equipmentSlots.css hence the need for !important here*/ 
        width: 80px !important;
        height: 80px !important;
    }
}